html
  head
    title quote app
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    link(rel="stylesheet", href="/viewquotes/viewquotes.css")

  body
  div.tags.container
    i.uniqueTag data[i].title
      &nbsp;
  br
  div.viewquotes.container
    .well
      p.title data[i].title
      p.body data[i].body
      p.author data[i].authors
