html
  head
    title quote app
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    link(rel="stylesheet", href="/viewquotes/viewquotes.css")

  body
    div.container
      br
      a(href='/viewquotes') &nbsp;&nbsp;&nbsp; <-- B a c k
    div.tags.container
      div.viewquotes.container
        br
        .well
          each quote in quotes
            p.title #{quote.title}
            p.body #{quote.body}
            p.author ~ #{quote.author}
