body{
  background-image: url('https://images.pexels.com/photos/748626/pexels-photo-748626.jpeg?cs=srgb&dl=sea-landscape-nature-748626.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.well{
  background-color: lightgrey;
}
.title{
  font-family: "Annie Use Your Telescope", cursive;
  font-size:20px;
  letter-spacing: 1px;
  font-weight : bold;
  margin-left: 10px;
  color: black;
}
.body{
  font-family: "Annie Use Your Telescope", cursive;
  font-size:18px;
  letter-spacing: 1px;
  font-style: italic;
  margin-left: 20px;
  color: grey;
}
.author{
  font-family: "Annie Use Your Telescope", cursive;
  font-size:20px;
  letter-spacing: 1px;
  font-style: italic;
  margin-left: 20px;
  font-weight: lighter;
  color: grey;
}
.uniqueTag{
  text-decoration: underline;
  color: blue;
  font-family: "Annie Use Your Telescope", cursive;
  letter-spacing: 1px;
  font-size:15px;
  cursor: pointer;
  background-color: grey;
  border: none;
}
.delete{
  color: red;
  font-size: 17px;
  letter-spacing: 1px;
  float: right;
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: bold;
  border:none;
}
.delete:hover{
  color: red;
}
